[submodule "pingcpp"]
	path = pingcpp
	url = https://github.com/oskarirauta/pingcpp.git
[submodule "common"]
	path = common
	url = https://github.com/oskarirauta/common_cpp.git
[submodule "logger"]
	path = logger
	url = https://github.com/oskarirauta/logcpp.git
[submodule "ext/json11"]
	path = ext/json11
	url = https://github.com/dropbox/json11.git
